@import "./clearDefaultStyle.scss";

@mixin oneLineTextStyle($width,$height,$size,$color){
    display: block;
    margin: 0;
    padding: 0;
    width: $width;
    height: $height;
    font-size: $size;
    color: $color;
    line-height: $height;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
};
@mixin oneLineTextStyle_noColor($width,$height,$size){
    display: block;
    margin: 0;
    padding: 0;
    width: $width;
    height: $height;
    font-size: $size;
    line-height: $height;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
};
$buttonActiveColor:rgba(211, 211, 211,0.5);
$honyarColor:rgb(0, 208, 186);
@mixin switchBoxShadow(){
    -moz-box-shadow:0px 0px 10px #c6c6c6;
    -webkit-box-shadow:0px 0px 10px #c6c6c6;
    box-shadow:0px 0px 10px #c6c6c6;
}
@mixin inputStyle(){
    border: 1px solid #ccc;
    padding: 7px 0px;
    border-radius: 10px;
    padding-left:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
@mixin inputFocusStyle(){
    border-color: rgba(0, 208, 186, 1);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 208, 186,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 208, 186,.6)
}